[build-system]
requires = ["setuptools>=64", "wheel"]
build-backend = "_build_backend"
backend-path = ["."]

[project]
name = "pfsspecsim"
version = "0.1"
description = "PFS ETC and spectral simulator"
readme = "README.md"
requires-python = ">=3.9"
license = {text = "MIT"}
authors = [
    {name = "Kiyoto Yabe", email = "kiyoto.yabe@ipmu.jp"}
]

dependencies = [
    "numpy>=2.0",
    "scipy",
    "matplotlib",
    "astropy",
]

[project.optional-dependencies]
dev = [
    "pytest>=7.0",
]

[tool.setuptools]
zip-safe = false
include-package-data = true

[tool.setuptools.packages.find]
where = ["python"]
include = ["pfsspecsim*"]

[tool.setuptools.package-data]
pfsspecsim = [
    "config/*.dat",
    "bin/gsetc.x",
    "bin/gsetc_omp.x",
    "bin/Makefile",
]
